html, body {
  font-family: 'Lustria', serif;
  font-size: 18px;
  height:100%;
  margin:0;
  overflow:hidden;
}

label{
  font-weight: bold;
  font-size: 14px;
  margin:0;
}

#map{
  position:absolute;
  bottom: 0px;
  height: 100%;
  width: 100%;
  z-index: 1;
}


.ui{
  position:relative;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-basis: auto;
  flex-grow: 1;
  align-items: centre;
  min-width: 16vw;
  overflow: hidden;
  width: 22vw;
  height:100vh;
  z-index: 3;
  color: white;
  background:radial-gradient(circle, rgba(0,0,0,0.2),rgba(0,0,0,0.4),rgba(0,0,0,0.8));
  padding:20px;
  
}

img{
  width:16vw;
}

#list{
  cursor: pointer;
  overflow-y: scroll;
  margin:5px;
}

#price, #menu{
  margin: 4px;
}

#website{
  font-size: 14px;
  margin:5px;
}

#photobox{
  margin:6px;
  color: white;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
}

a{
  color: white;
}

.gm-style .gm-style-iw {
  font-family: 'Lustria', serif;
  font-size: 14px;
  text-align: center;
}

.gm-style .gm-style-iw img {
  margin:0;
  width:90%;
}
     
         
              